In [27]:
import pandas as pd
import experiment_util as util
import models
import numpy as np
import random

np.random.seed(0)
random.seed(0)

In [11]:
raw_df=pd.read_csv("../Datasets/Research/OULAD/studentInfo.csv",index_col=[2])

df=raw_df.copy()
df = df.loc[~df.index.duplicated(keep='first')]
df

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
id_student,,,,,,,,,,,
11391,AAA,2013J,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
28400,AAA,2013J,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
30268,AAA,2013J,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
31604,AAA,2013J,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...
2640965,GGG,2014J,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
2645731,GGG,2014J,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
2648187,GGG,2014J,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
2679821,GGG,2014J,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
2684003,GGG,2014J,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

In [12]:
df["final_result"]=df["final_result"].replace(['Distinction','Withdrawn'],['Pass','Fail'])
#unifiying Distinction and Withdrawn label to simplify the dataset task (as well as make different datasets comparable)

In [46]:
folds_index=np.array_split(df.sample(frac=1).index,5)
eval=util.evaluation(df,"gender","final_result","M",folds_index)
pre_df=util.preporcess_transform(df)
result=pd.DataFrame([],columns=util.column)
result.columns.name="OULAD"
result

Empty DataFrame
Columns: [Accuracy, False Omissin Rate Disparity, False Discover Rate Disparity, Predicted Positive Ratio Disparity, Predicted Prevalance Disparity]
Index: []

In [47]:
result=util.append_Series(result,eval.cross_validation("Random Forest",models.RandomForest,pre_df))
result

c:\Users\15783\source\repos\Ethical-Framework\Aequitas\experiment_util.py:28: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_df=pd.concat([dataframe,pd.DataFrame([series.to_list()],index=[series.name],columns=column)])

OULAD,Accuracy,False Omissin Rate Disparity,False Discover Rate Disparity,Predicted Positive Ratio Disparity,Predicted Prevalance Disparity
Random Forest,0.58058,0.928372,0.950084,0.839485,0.91956

In [48]:
result=util.append_Series(result,eval.cross_validation("Gradient Boost",models.GradientBoost,pre_df))
result

OULAD,Accuracy,False Omissin Rate Disparity,False Discover Rate Disparity,Predicted Positive Ratio Disparity,Predicted Prevalance Disparity
Random Forest,0.580580,0.928372,0.950084,0.839485,0.919560
Gradient Boost,0.623693,0.804361,0.965404,0.768370,0.841342

In [ ]:
result=util.append_Series(result,eval.cross_validation("Gradient Boost",models.Fairgbm,pre_df))
result

In [ ]:
result=util.append_Series(result,eval.cross_validation("Gradient Boost",models.Fairlearn,pre_df))
result

In [ ]:
result.to_csv("OULAD_result.csv")

In [43]:
import importlib
importlib.reload(models)
importlib.reload(util)